{% from "macros.html" import nav_link with context %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootflat.min.css') }}" rel="stylesheet">
    {% block css %}{% endblock %}
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <style>
      body {background-color:#eee; padding-top:70px; }
      .navbar-brand{font-weight: 700;color: #fff !important;}
    </style>
  </head>
  <body>
   <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('index') }}">Prediksi Cuaca Kota Pekanbaru</a>
        </div>
        
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
      {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
        {{ message }}
      </div>
      {% endfor %}
      <div class="row">
        <div class="col-sm-3">
            <h3>Menu</h3>
          <div class="panel panel-primary">
            <div class="panel-body">
          <ul class="nav nav-pills nav-stacked">
                {% if session.logged_in %}
                {% if session.level == 1 %}
                {% if request.endpoint.endswith('datalatih') or request.endpoint.endswith('datauji') %}
                <li class="dropdown active">
                {% else %}
                <li class="dropdown">
                {% endif %}
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-database"></span> Kelola Data <b class="caret"></b></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ url_for('datalatih')}}"><span class="fa fa-database"></span> Data Latih</a></li>
                  </ul>
                </li>
                {% endif %}
				{% if session.level == 2 %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-gears"></span> Prakiraan <b class="caret"></b></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ url_for('prakiraanhari')}}"><span class="fa fa-gears"></span> Prakiraan Harian</a></li>
                    <li><a href="{{ url_for('prakiraanbulan')}}"><span class="fa fa-gears"></span> Prakiraan Per Bulan</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-line-chart"></span> Grafik Cuaca<b class="caret"></b></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ url_for('grafbulan')}}"><span class="fa fa-line-chart"></span> Grafik Cuaca Per Bulan</a></li>
                    <li><a href="{{ url_for('graftahun')}}"><span class="fa fa-line-chart"></span> Grafik Cuaca per Tahun</a></li>
                  </ul>
                </li>
				{% endif %}
                {{ nav_link('tentangsistem','Tentang Sistem','book') }}
                {% if session.level == 1 %}
                {{ nav_link('kelolauser','Kelola User','user') }}
                {% endif %}
                {{ nav_link('logout','Keluar','sign-out') }}
                {% else %}
                {{ nav_link('login','Masuk') }}
                {% endif %}
              </ul>
              </div>
              </div>
        </div>
        <div class="col-sm-9">
          {% block body %}{% endblock %}
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {% block script %}
    {% endblock %}
  </body>
</html>