{% extends "base.html" %} {% block title %} Ubah Data Latih {% endblock %} {% block body %}
      <h3>Ubah Data Latih</h3>
      <div class="panel panel-primary">
        <div class="panel-heading">Data Latih</div>
        <form action="{{ url_for('editdata') }}" method='POST' id='formkirain'>
        <input type="hidden" name="id" value="{{ data['id'][0] }}"/>
        <div class="panel-body">
            <div class="alert alert-warning">
                <strong>Perhatian!</strong>
                <ul>
                  <li>Nilai parameter hanya menerima bilangan bulat atau desimal</li>
                  <li>Bilangan desimal menggunakan tanda titik (.) sebagai pemisah bilangan</li>
                </ul> 
              </div>
          <div class="col-sm-6">
              <div class="form-group">
                <label for='tanggal'>Tanggal</label>
                <input type="date" name="tanggal" class="form-control" value="{{ data['tanggal'][0] }}"/>
              </div>
              <div class="form-group">
                <label for='innode'>Temperatur</label>
                <input type="text" name="temperatur" id="innode" class="form-control" value="{{ data['temperatur'][0] }}"/>
              </div>
              <div class="form-group">
                <label for='innode'>Tekanan Udara</label>
                <input type="text" name="tekanan" id="innode" class="form-control" value="{{ data['tekanan_udara'][0] }}"/>
              </div>
                <!--input type="number" name="curah_hujan" min=0 max=100 id="innode" class="form-control" value=""/-->
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for='innode'>Kelembapan</label>
              <input type="text" name="lembap" id="innode" class="form-control" value="{{ data['kelembapan'][0] }}"/>
            </div>
            <div class="form-group">
              <label for='innode'>Angin</label>
              <input type="text" name="angin" id="innode" class="form-control" value="{{ data['angin'][0] }}"/>
            </div>
            <div class="form-group">
              <label for='innode'>Curah Hujan</label>
              <select name="cuaca" class="form-control">
                <option value="1" {% if data['cuaca'][0] == 1 %} selected {% endif %}>Cerah</option>
                <option value="2" {% if data['cuaca'][0] == 2 %} selected {% endif %}>Hujan Ringan</option>
                <option value="3" {% if data['cuaca'][0] == 3 %} selected {% endif %}>Hujan Sedang</option>
                <option value="4" {% if data['cuaca'][0] == 4 %} selected {% endif %}>Hujan Lebat</option>
                <option value="5" {% if data['cuaca'][0] == 5 %} selected {% endif %}>Hujan Sangat Lebat</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" id="kirain" >Simpan Perubahan</button>
          </div>
        </div>
        </form>
      </div>
{% endblock %}