{% extends "base.html" %} {% block title %} Grafik Cuaca Bulanan Setiap Tahun {% endblock %} {% block body %}
<h3>Grafik Cuaca Bulanan Setiap Tahun</h3>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-primary">
      <div class="panel-heading">Grafik Cuaca</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-4">
            <form name="graftahun" action="/graftahun" method="POST">
            <div class="form-group">
              <label for="Tahun" class='control-label'>Pilih Tahun</label>
              <select name="tahun" class='form-control'>
                {% for th in range(dataparam['min_thn'],dataparam['max_thn']+1) %}
                <option value="{{ th }}" {% if dataparam['year'] == th %}selected{% endif %}>{{ th }}</option>
                {% endfor %}
              </select>
              <br>
              <button type="submit" name="lbulan" class="btn btn-primary">Tampilkan Data</button>
            </div>
            </form>
          </div>
          <div class="col-sm-8">
              <canvas id="piecuaca" width="700px" height="300px" style="margin:0 auto"><!-- container chart.js disini --></canvas>
          </div>
        </div>
        <button type="button" class="btn btn-primary" id="gantidata">Lihat Data Berskala</button>
        <canvas id="chartlatih" width="700px" height="300px" style="margin:0 auto"><!-- container chart.js disini --></canvas>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block css %}
<link href="{{ url_for('static', filename='css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
{% endblock  %}
{% block script %}
<script src="{{ url_for('static',filename='js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/dataTables.bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/Chart.min.js') }}"></script>
<script>
  window.chartColors = {
    red: 'rgb(255, 99, 132)',
    orange: 'rgb(255, 159, 64)',
    yellow: 'rgb(255, 205, 86)',
    green: 'rgb(75, 192, 192)',
    blue: 'rgb(54, 162, 235)',
    purple: 'rgb(153, 102, 255)',
    grey: 'rgb(201, 203, 207)'
  };
  datastate = 'raw';
  $(document).ready(function () {
    $("#datanormal").DataTable();
    $("#gantidata").click(function() {
      $this = $(this);
      if(datastate == 'raw'){
        config.data = datanorm;
        window.myLine.update();
        datastate = 'normal';
        $this.text('Lihat Data Asli');
      } else if(datastate == 'normal'){
        config.data = dataraw;
        window.myLine.update();
        datastate = 'raw';
        $this.text('Lihat Data Berskala');
      }
    });
  });
  datanorm = {
    labels : [ {% for hr in dataparam['label_hari'] %} '{{ hr }}', {% endfor %}],
    datasets : [
      {
        label: "Angin (Dinormalkan)",
        backgroundColor: window.chartColors.yellow,
        borderColor: window.chartColors.yellow,
        data : {{ dataparam['angin_norm'] }},
        fill: false
      },
      {
        label: "Tekanan Udara (Dinormalkan)",
        backgroundColor: window.chartColors.orange,
        borderColor: window.chartColors.orange,
        data : {{ dataparam['tekanan_udara_norm'] }},
        fill: false
      },
      {
        label: "Kelembapan (Dinormalkan)",
        backgroundColor: window.chartColors.blue,
        borderColor: window.chartColors.blue,
        data : {{ dataparam['kelembapan_norm'] }},
        fill: false
      },
      {
        label: "Temperatur (Dinormalkan)",
        backgroundColor: window.chartColors.red,
        borderColor: window.chartColors.red,
        data : {{ dataparam['temperatur_norm'] }},
        fill:false
      }
      
    ]
    };
    dataraw = {
    labels : [ {% for hr in dataparam['label_hari'] %} '{{ hr }}', {% endfor %}],
    datasets : [
      {
        label: "Angin",
        backgroundColor: window.chartColors.yellow,
        borderColor: window.chartColors.yellow,
        data : {{ dataparam['angin'] }},
        fill: false
      },
      {
        label: "Tekanan Udara",
        backgroundColor: window.chartColors.orange,
        borderColor: window.chartColors.orange,
        data : {{ dataparam['tekanan_udara'] }},
        fill: false
      },
      {
        label: "Kelembapan",
        backgroundColor: window.chartColors.blue,
        borderColor: window.chartColors.blue,
        data : {{ dataparam['kelembapan'] }},
        fill: false
      },
      {
        label: "Temperatur",
        backgroundColor: window.chartColors.red,
        borderColor: window.chartColors.red,
        data : {{ dataparam['temperatur'] }},
        fill:false
      }
    ]
    };
    var warnacuaca = [window.chartColors.yellow,window.chartColors.orange,window.chartColors.blue,window.chartColors.purple,'#5555aa']
    var jumlahcuaca = [{% for ix in range(1,6) %}{{ dataparam['jumlah_cuaca'][ix] }},{% endfor %}]
    var datacuaca = {
      labels: ["Cerah","Hujan Ringan","Hujan Sedang","Hujan Lebat","Hujan Sangat Lebat"],
      datasets: [
        {
          data: [{% for ix in range(1,6) %}{{ dataparam['jumlah_cuaca'][ix] }},{% endfor %}],
          backgroundColor: warnacuaca,
          label: "Curah Hujan"
        },
      ]
    }
    var config = {
     type: 'line',
     data: dataraw,
     options: {
        responsive: true,
        title:{
            display:true,
            text:'Kondisi Cuaca Bulan {{ dataparam['min_month'] }} - {{ dataparam['max_month'] }} {{ dataparam['year'] }}'
        },
        tooltips: {
            mode: 'index',
            intersect: false,
        },
        hover: {
            mode: 'nearest',
            intersect: true
        },
        scales: {
            xAxes: [{
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'Bulan'
                }
            }],
            yAxes: [{
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'Nilai'
                },
                ticks:{
                  stepsize: 10
                }
            }]
        }
      }
    };
    var configcuaca = {
     type: 'pie',
     data: datacuaca,
     options: {
        responsive: true,
        legend:{
          position: 'left'
        },
        title:{
          display: true,
          text: "Jumlah Curah Hujan Bulan {{ dataparam['min_month'] }} - {{ dataparam['max_month'] }} {{ dataparam['year'] }}"
        }
      }
    };
    window.onload = function() {
      var ctx = document.getElementById("chartlatih").getContext("2d");
      var cuacatx = document.getElementById("piecuaca").getContext("2d");
      window.myLine = new Chart(ctx, config);
      window.myPie = new Chart(cuacatx, configcuaca);
    };
</script> {% endblock %}