{% extends "base.html" %} {% block title %} Grafik Cuaca Bulanan Setiap Tahun {% endblock %} {% block body %}
<h3>Grafik Cuaca Tahunan Setiap Bulan</h3>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-primary">
      <div class="panel-heading">Grafik Cuaca</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-4">
            <form name="grafbulan" action="/grafbulan" method="POST">
            <div class="form-group">
              <label for="bulan" class='control-label'>Pilih Bulan</label>
              <select name="bulan" class='form-control'>
                <option value="1" {% if dataparam['raw_month'] == 1 %} selected {% endif %}>Januari</option>
                <option value="2" {% if dataparam['raw_month'] == 2 %} selected {% endif %}>Februari</option>
                <option value="3" {% if dataparam['raw_month'] == 3 %} selected {% endif %}>Maret</option>
                <option value="4" {% if dataparam['raw_month'] == 4 %} selected {% endif %}>April</option>
                <option value="5"{% if dataparam['raw_month'] == 5 %} selected {% endif %}>Mei</option>
                <option value="6"{% if dataparam['raw_month'] == 6 %} selected {% endif %}>Juni</option>
                <option value="7"{% if dataparam['raw_month'] == 7 %} selected {% endif %}>Juli</option>
                <option value="8"{% if dataparam['raw_month'] == 8 %} selected {% endif %}>Agustus</option>
                <option value="9"{% if dataparam['raw_month'] == 9 %} selected {% endif %}>September</option>
                <option value="10"{% if dataparam['raw_month'] == 10 %} selected {% endif %}>Oktober</option>
                <option value="11"{% if dataparam['raw_month'] == 11 %} selected {% endif %}>November</option>
                <option value="12" {% if dataparam['raw_month'] == 12 %} selected {% endif %}>Desember</option>
              </select>
              <br>
              <button type="submit" name="lbulan" class="btn btn-primary">Tampilkan Data</button>
            </div>
            </form>
          </div>
          <div class="col-sm-8">
              <canvas id="piecuaca" width="700px" height="300px" style="margin:0 auto"><!-- container chart.js disini --></canvas>
          </div>
        </div>
        <button type="button" class="btn btn-primary" id="gantidata">Lihat Data Berskala</button>
        <canvas id="chartlatih" width="700px" height="300px" style="margin:0 auto"><!-- container chart.js disini --></canvas>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block css %}
<link href="{{ url_for('static', filename='css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
{% endblock  %}
{% block script %}
<script src="{{ url_for('static',filename='js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/dataTables.bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/Chart.min.js') }}"></script>
<script>
  window.chartColors = {
    red: 'rgb(255, 99, 132)',
    orange: 'rgb(255, 159, 64)',
    yellow: 'rgb(255, 205, 86)',
    green: 'rgb(75, 192, 192)',
    blue: 'rgb(54, 162, 235)',
    purple: 'rgb(153, 102, 255)',
    grey: 'rgb(201, 203, 207)'
  };
  datastate = 'raw';
  $(document).ready(function () {
    $("#datanormal").DataTable();
    $("#gantidata").click(function() {
      $this = $(this);
      if(datastate == 'raw'){
        config.data = datanorm;
        window.myLine.update();
        datastate = 'normal';
        $this.text('Lihat Data Asli');
      } else if(datastate == 'normal'){
        config.data = dataraw;
        window.myLine.update();
        datastate = 'raw';
        $this.text('Lihat Data Berskala');
      }
    });
  });
  datanorm = {
    labels : [ {% for hr in dataparam['label_hari'] %} {{ hr }}, {% endfor %}],
    datasets : [
      {
        label: "Angin (Dinormalkan)",
        backgroundColor: window.chartColors.yellow,
        borderColor: window.chartColors.yellow,
        data : {{ dataparam['angin_norm'] }},
        fill: false
      },
      {
        label: "Tekanan Udara (Dinormalkan)",
        backgroundColor: window.chartColors.orange,
        borderColor: window.chartColors.orange,
        data : {{ dataparam['tekanan_udara_norm'] }},
        fill: false
      },
      {
        label: "Kelembapan (Dinormalkan)",
        backgroundColor: window.chartColors.blue,
        borderColor: window.chartColors.blue,
        data : {{ dataparam['kelembapan_norm'] }},
        fill: false
      },
      {
        label: "Temperatur (Dinormalkan)",
        backgroundColor: window.chartColors.red,
        borderColor: window.chartColors.red,
        data : {{ dataparam['temperatur_norm'] }},
        fill:false
      }
      
    ]
    };
    dataraw = {
    labels : [ {% for hr in dataparam['label_hari'] %} {{ hr }}, {% endfor %}],
    datasets : [
      {
        label: "Angin",
        backgroundColor: window.chartColors.yellow,
        borderColor: window.chartColors.yellow,
        data : {{ dataparam['angin'] }},
        fill: false
      },
      {
        label: "Tekanan Udara",
        backgroundColor: window.chartColors.orange,
        borderColor: window.chartColors.orange,
        data : {{ dataparam['tekanan_udara'] }},
        fill: false
      },
      {
        label: "Kelembapan",
        backgroundColor: window.chartColors.blue,
        borderColor: window.chartColors.blue,
        data : {{ dataparam['kelembapan'] }},
        fill: false
      },
      {
        label: "Temperatur",
        backgroundColor: window.chartColors.red,
        borderColor: window.chartColors.red,
        data : {{ dataparam['temperatur'] }},
        fill:false
      }
    ]
    };
    var warnacuaca = [window.chartColors.yellow,window.chartColors.orange,window.chartColors.blue,window.chartColors.purple,'#5555aa']
    var jumlahcuaca = {{ dataparam['jumlah_cuaca'] }}
    var datacuaca = {
      labels: ["Cerah","Hujan Ringan","Hujan Sedang","Hujan Lebat","Hujan Sangat Lebat"],
      datasets: [
        {
          data: {{ dataparam['jumlah_cuaca'] }},
          backgroundColor: warnacuaca,
          label: "Curah Hujan"
        },
      ]
    }
    var config = {
     type: 'line',
     data: dataraw,
     options: {
        responsive: true,
        title:{
            display:true,
            text:'Kondisi Rata-Rata Cuaca Bulan {{ dataparam['month'] }} {{ dataparam['min_year'] }} - {{ dataparam['max_year'] }}'
        },
        tooltips: {
            mode: 'index',
            intersect: false,
        },
        hover: {
            mode: 'nearest',
            intersect: true
        },
        scales: {
            xAxes: [{
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'Tanggal'
                }
            }],
            yAxes: [{
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'Nilai'
                },
                ticks:{
                  stepsize: 10
                }
            }]
        }
      }
    };
    var configcuaca = {
     type: 'pie',
     data: datacuaca,
     options: {
        responsive: true,
        legend:{
          position: 'left'
        },
        title:{
          display: true,
          text: "Jumlah Curah Hujan Bulan {{ dataparam['month'] }} {{ dataparam['min_year'] }} - {{ dataparam['max_year'] }} "
        }
      }
    };
    window.onload = function() {
      var ctx = document.getElementById("chartlatih").getContext("2d");
      var cuacatx = document.getElementById("piecuaca").getContext("2d");
      window.myLine = new Chart(ctx, config);
      window.myPie = new Chart(cuacatx, configcuaca);
    };
</script> {% endblock %}