{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
  <h3>Halaman Awal</h3>
  <div class="panel">
    <div class="panel-body">
        <div style="text-align:center">
            <img src="static/images/logo_BMKG.png" />
            <h3>Selamat Datang di Sistem Prakiraan Cuaca Kota Pekanbaru</h3>
            <h4>Stasiun Meteorologi dan Klimatologi Klas 1 Pekanbaru</h4>
            
        </div>
        <div class="col-sm-6" style="text-align:center">
		
        <h2>Visi</h2>
          Terwujudnya BMKG yang tanggap dan mampu memberikan pelayanan meteorologi, klimatologi, kualitas udara, dan geofisika yang handal, guna mendukung keselamatan dan keberhasilan pembangunan nasional serta berperan aktif ditingkat internasional.
    
        </ol>
        </div>
        <div class="col-sm-6">
          <ol>
		  <h2>Misi</h2>
           <li>Mengamati dan memahami fenomena meteorologi, klimatologi, kualitas udara, dan geofisika.</li>
          <li>Menyediakan data meteorologi, klimatologi, kualitas udara, dan geofisika yang handal dan terpercaya.</li>
          <li>Menyediakan data dan informasi meteorologi, klimatologi, kualitas udara, dan geofisika.</li>
          <li>Melaksanakan dan mematuhi kewajiban internasional dalam bidang meteorologi, klimatologi, kualitas udara, dan geofisika.</li>
          <li>Mengkoordinasikan dan memfasilitasi kegiatan dibidang meteorologi, klimatologi, kualitas udara, dan geofisika.</li>
          </ol>
        </div>
    </div>
  </div>
{% endblock %}