{% extends "base.html" %} 
{% block title %} Kelola Pengguna {% endblock %} 

{% block body %}

<div class="container">
 <div class="row">
  <h3>Kelola Pengguna</h3>
  <p><a href="{{ url_for('tambahuser') }}" class="btn btn-primary">Tambah Pengguna</a></p>
  <div class="col-sm-8">
    <div class="panel panel-primary">
    <div class="panel-body">
        <table class="table table-striped table-bordered table-responsive" id="datauser">
        <thead style="background-color: #37bc9b;color: #fff;">
        <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Jabatan</th>
        <th>Aksi</th>
        </tr>
        </thead>
        <tbody>
        {% for usr in users %}
        <tr>
        <td>{{ usr.id }}</td>
        <td>{{ usr.username }}</td>
        <td>{% if usr.jabatan == 1 %}Administrator{% else %}Forecaster{% endif %}</td>
        <td><a href="{{ url_for('edituser') }}?id={{ usr.id }}" title="Ubah Data Pengguna Ini"><span class="fa fa-pencil" style="color:rgb(0, 89, 255)"></span> Ubah</a>&nbsp;<a href="{{ url_for('hapususer') }}?id={{ usr.id }}" title="Hapus Pengguna Ini" onclick="return confirm('Hapus pengguna ini?')"><span class="fa fa-close" style="color:#f00"></span> Hapus</a>&nbsp;</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
    </div>
  </div>
 </div>
</div>
{% endblock %}
{% block script %}
<script src="{{ url_for('static',filename='js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/dataTables.bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/Chart.min.js') }}"></script>
<script>
  $(document).ready(function () {
    $("#datauser").DataTable();
  });
</script>
{% endblock %}