{% extends "base.html" %}
{% block body %}

    <div class="row">
        <div class="col-sm-8">
            <div class="panel">
                <div class="panel-body">
                    <div style="text-align:center">
                        <img src="static/images/logo_BMKG.png" />
                        <h3>Selamat Datang di Sistem Prakiraan Cuaca Kota Pekanbaru</h3>
                        <h4>Stasiun Meteorologi dan Klimatologi Klas 1 Pekanbaru</h4>
                    </div>
                    <h5>Login Untuk Dapat Mengakses Fitur Sistem Berikut:</h5>
                    <div class="media">
                    <div class="media-left">
                        <span class="fa fa-gear" style="font-size:4em"></span>
                    </div>
                    <div class="media-body">
                        <br>
                        <h4 class="media-heading">Prediksi Data Cuaca</h4>
                    </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <span class="fa fa-database" style="font-size:4em"></span>
                        </div>
                        <div class="media-body">
                            <br>
                            <h4 class="media-heading">Kelola Data Pelatihan dan Pengujian</h4>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <span class="fa fa-user" style="font-size:4em"></span>
                        </div>
                        <div class="media-body">
                            <br>
                            <h4 class="media-heading">Kelola Pengguna Sistem</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Masuk Ke Sistem</h4>
                </div>
                <div class="panel-body">
                    <form action="{{ url_for('login') }}" method="POST">
                        <div class="form-group">
                            <label for="username">Nama Pengguna</label>
                            <input type="text" class="form-control" id="username" name="username"/>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" id="password" class="form-control" name="password"/>
                        </div>
                        <button type="submit" class="btn btn-primary form-control">Masuk ke Sistem</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}