{% extends "base.html" %} {% block title %} Unggah Data {{ jenisdata }} {% endblock %} {% block body %}
<h3>Kelola Data {{ jenisdata|title() }} </h3>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h4>Unggah Data</h4>
  </div>
  <div class="panel-body">
    <form action="{{ url_for('unggahdata') }}" method="POST" enctype="multipart/form-data">
      <input type='hidden' name='jenisdata' value='{{ jenisdata }}' />
      <div class="col-md-6">
        <div class="form-group">
          <label for="berkas">Pilih Data
            <input type="file" name="berkas" id="berkas" class="form-control" />
        </div>
        <div class="form-group">
          <button type="submit" name="submit" class="btn btn-primary">Unggah Data</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h4>Data {{ jenisdata|title() }}</h4>
  </div>
  <div class="panel-body">
    {% if file_ada != True %}
    <strong class="text-center">Belum ada file diunggah. Menampilkan file contoh</strong>
    {% endif %}
    <table class="table table-responsive" id="datasawit">
      <thead>
        <tr>
          <th>Tanggal</th>
          <th>Temperatur</th>
          <th>Tekanan Udara</th>
          <th>Kelembapan</th>
          <th>Angin</th>
          <th>Cuaca</th>
        </tr>
      </thead>
      <tbody>
        {% for dt in dataraw['tanggal'] %}
        <tr>
          <!--td>{{ dt['DATE'] }}</td-->
          <td>{{ dt }}<br>
            <a href="{{ url_for('editdata') }}?id={{ dataraw['id'][loop.index-1] }}" title="Ubah Data Pengguna Ini"><span class="fa fa-pencil" style="color:rgb(0, 89, 255)"></span> Ubah</a>&nbsp;<a href="{{ url_for('hapusdata') }}?id={{ dataraw['id'][loop.index-1] }}" title="Hapus Pengguna Ini" onclick="return confirm('Hapus data ini?')"><span class="fa fa-close" style="color:#f00"></span> Hapus</a>&nbsp;
          </td>
          <td>{{ dataraw['temperatur'][loop.index-1] }}</td>
          <td>{{ dataraw['tekanan_udara'][loop.index-1] }}</td>
          <td>{{ dataraw['kelembapan'][loop.index-1] }}</td>
          <td>{{ dataraw['angin'][loop.index-1] }}</td>
          <td>{{ pcuaca[dataraw['cuaca'][loop.index-1]] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %} 
{% block css %}
<link href="{{ url_for('static', filename='css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
{% endblock  %}
{% block script %}
<script src="{{ url_for('static',filename='js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/dataTables.bootstrap.min.js') }}"></script>
<script>
  $(document).ready(function () {
    $("#datasawit").DataTable();
  });
</script> {% endblock %}