{% extends "base.html" %} {% block title %} Prakiraan Cuaca Bulanan {% endblock %} {% block body %}
<h3>Prakiraan Cuaca Bulanan</h3>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h4>Unggah Data</h4>
  </div>
  <div class="panel-body">
    <form action="{{ url_for('prakiraanbulan') }}" method="POST" enctype="multipart/form-data">
      <input type='hidden' name='jenisdata' value='uji' />
      <div class="col-md-6">
        <div class="form-group">
          <label for="berkas">Pilih Data
            <input type="file" name="berkas" id="berkas" class="form-control" />
        </div>
        <div class="form-group">
          <button type="submit" name="submit" class="btn btn-primary">Unggah Data</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="spread">Nilai Spread
            <input type="text" name="spread" id="spread" class="form-control" value="0.00001"/>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h4>Hasil Prakiraan</h4>
  </div>
  <div class="panel-body">
    {% if file_ada != True %}
    <strong class="text-center">Belum ada file diunggah. Menampilkan file contoh</strong>
    {% endif %}
    <table class="table table-responsive" id="datacuaca">
      <thead>
        <tr>
          <th>Tanggal</th>
          <th>Temperatur</th>
          <th>Tekanan Udara</th>
          <th>Kelembapan</th>
          <th>Angin</th>
          <th>Cuaca</th>
        </tr>
      </thead>
      <tbody>
        {% for dt in dataraw['tanggal'] %}
        <tr>
          <!--td>{{ dt['DATE'] }}</td-->
          <td>{{ dt }}</td>
          <td>{{ dataraw['temperatur'][loop.index-1] }}</td>
          <td>{{ dataraw['tekanan_udara'][loop.index-1] }}</td>
          <td>{{ dataraw['kelembapan'][loop.index-1] }}</td>
          <td>{{ dataraw['angin'][loop.index-1] }}</td>
          <td>{{ pcuaca[dataraw['cuaca'][loop.index-1]] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %} 
{% block css %}
<link href="{{ url_for('static', filename='css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
{% endblock  %}
{% block script %}
<script src="{{ url_for('static',filename='js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/dataTables.bootstrap.min.js') }}"></script>
<script>
  $(document).ready(function () {
    $("#datacuaca").DataTable();
  });
</script> {% endblock %}