{% extends "base.html" %} {% block title %} Prakiraan Hari {% endblock %} {% block body %}
      <h3>Prakiraan Cuaca Harian</h3>
      <div class="panel panel-primary">
        <div class="panel-heading">Prakiraan Cuaca Harian</div>
        <div class="panel-body">
          <div class="alert alert-warning">
            <strong>Perhatian!</strong>
            <ul>
              <li>Nilai parameter hanya menerima bilangan bulat atau desimal</li>
              <li>Bilangan desimal menggunakan tanda titik (.) sebagai pemisah bilangan</li>
            </ul> 
          </div>
          <div class="col-sm-6">
            <form action="{{ url_for('latihaja') }}" method='POST' id='formkirain'>
              <div class="form-group">
                <label for='innode'>Temperatur</label>
                <input type="text" name="temperatur" id="innode" class="form-control" value=""/>
              </div>
              <div class="form-group">
                <label for='innode'>Tekanan Udara</label>
                <input type="text" name="tekanan" id="innode" class="form-control" value=""/>
              </div>
              <div class="form-group">
                <label for='innode'>Kelembapan</label>
                <input type="text" name="lembap" id="innode" class="form-control" value=""/>
              </div>
              <div class="form-group">
                <label for='innode'>Angin</label>
                <input type="text" name="angin" id="innode" class="form-control" value=""/>
              </div>
              <div class="form-group">
                <label for='innode'>Spread</label>
                <input type="text" name="spread" id="innode" class="form-control" value=""/>
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-primary" id="kirain" >Prakirakan Cuaca</button>
              </div>
            </form>
          </div>
          <div class="col-sm-6" style="margin-top:15%">
            <div style="text-align:center;vertical-align:center" id="hasilkirain">
              <strong>Hasil Prakiraan Cuaca:</strong><br>
              <img src='static/images/awal-kira.png' alt='cerah' id="imgstat" />
              <br>
              <strong id="ketstat">Isi Parameter Disamping</strong>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
{% block script %}
<script>
  $("#kirain").click(function(){
    $("#imgstat").attr('src','static/images/spin.gif');
    $("#ketstat").html('Mohon Tunggu...');
    $.post('/aksikirain', $('#formkirain').serialize(), function(res) {
      gambar = '';
      stat = '';
      if(res == 1){
        gambar = 'cerah.png';
        stat = 'Cerah';
      } else if(res == 2){
        gambar = 'hujan-ringan.png';
        stat = 'Hujan Ringan';
      } else if(res == 3){
        gambar = 'hujan-sedang.png';
        stat = 'Hujan Sedang';
      } else if(res == 4){
        gambar = 'hujan-lebat.png';
        stat = 'Hujan Lebat';
      } else if(res == 5){
        gambar = 'hujan-s-lebat.png';
        stat = 'Hujan Sangat Lebat';
      } else {
        gambar = 'awal-kira.png';
        stat = 'Tidak Diketahui.<br>Mohon periksa kembali parameter yang Anda masukkan';
      }
      console.log(gambar+" "+stat);
      console.log(res);
      $("#imgstat").attr('src','static/images/'+gambar);
      $("#ketstat").html(stat);
    });
  });
</script>
{% endblock  %}