{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
  <h3>Tentang Sistem</h3>
  <div class="panel">
    <div class="panel-body">
        <div style="text-align:center">
            <img src="static/images/logo_BMKG.png" />
            <h3>Selamat Datang di Sistem Prakiraan Cuaca Kota Pekanbaru</h3>
            <h4>Stasiun Meteorologi dan Klimatologi Klas 1 Pekanbaru</h4>
			<h5>  </h5>
            
        </div>
        <div class="col-sm-6" >
		<ol>
        <h4>Tentang Sistem</h4>
          <li>Sistem Ini dibangun menggunakan algoritma Probabilistic Neural Network</li>
		  <li>Adapun data yang digunakan adalah data klimatologi kota Pekanbaru tahun 2007-2016. </li>
		  <li>Atribut yang digunakan adalah Temperatur, Tekanan Udara, Kelembapan, Angin. </li> 
    
        </ol>
        </div>
        <div class="col-sm-6">
          <ol>
		  <h4>Cara Kerja Sistem</h4>
           <li>Menu Kelola Data digunakan untuk memasukkan data latih yang akan tersimpan di database</li>
          <li>Menu Prakiraan Cuaca mempunyai dua sub menu yaitu prakiraan cuaca harian dan prakiraan cuaca bulanan</li>
          <li>Menu grafik merupakan menu untuk menampilkan hasil prakiraan</li>
          <li>Menu kelola user untuk mengubah password</li>
          </ol>
        </div>
    </div>
  </div>

{% endblock %}